<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('Analytics') %></h3>
    <div class="widget">
      <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
      <span id="busuanzi_container_site_pv">
        本站总访问量<span id="busuanzi_value_site_pv"></span>次<br>
        本站访客数<span id="busuanzi_value_site_uv"></span>人次<br>
        本页面总阅读量<span id="busuanzi_value_page_pv"></span>次
      </span>
    </div>
  </div>
<% } %>
