<% if (site.posts.length){ %>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
  <link rel="stylesheet" href="//7sbplw.com1.z0.glb.clouddn.com/github-activity.css">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
  <script type="text/javascript" src="//7sbplw.com1.z0.glb.clouddn.com/github-activity.js"></script>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('recent github activity') %></h3>
    <article>
      <div id="feed"></div>
      <script>
        GitHubActivity.feed({
          username: "petronny",
          //repository: "your-repo", // optional
          selector: "#feed",
          limit: 5 // optional
        });
      </script>
    </article>
  </div>
<% } %>
